<?xml version="1.0" ?>
<!--
/**
 * LICENSE NOTICE
 *
 * This file is part of the Magezoid extension package.
 * Usage is governed by the Magezoid proprietary license agreement:
 * 
 *
 * DISCLAIMER
 *
 * Any modifications to this file may be overwritten during future upgrades.
 * Please extend or override functionality via Magento's customization standards.
 *
 *
 * @category    Magezoid
 * @package     Magezoid_LogManager
 * @copyright   Copyright (c) Magezoid
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magezoid" translate="label" sortOrder="110" class="magezoid-tab">
            <label>Magezoid Extensions</label>
        </tab>
        <section id="log_viewer" translate="label" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Log Manager</label>
            <tab>magezoid</tab>
            <resource>Magezoid_LogManager::log_viewer_settings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="items_per_page" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Items Per Page</label>
                    <source_model>Magezoid\LogManager\Model\Config\Source\ListPerPage</source_model>
                    <comment>Number of logs display on log list page</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="lines_to_show" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Number of Log Lines to Display</label>
                    <comment>Number of lines to display from the bottom of the log file (e.g. 500)</comment>
                    <validate>validate-number validate-greater-than-zero</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="default_sort_column" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Sort Column</label>
                    <source_model>Magezoid\LogManager\Model\Config\Source\SortFields</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="default_sort_dir" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Sort Direction</label>
                    <source_model>Magezoid\LogManager\Model\Config\Source\Direction</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="allowed_extensions" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allowed File Extensions</label>
                    <comment>List file extensions (e.g. .log, .txt). All files allowed if left empty.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="allow_download" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow To Download</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="allow_delete" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow To Delete</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
